<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCsmGJkBUZhLt6-2LDkAQOyi7YMChLepiU</string>
	<key>GCM_SENDER_ID</key>
	<string>728702301823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ASL.ASL</string>
	<key>PROJECT_ID</key>
	<string>asl-app-718bf</string>
	<key>STORAGE_BUCKET</key>
	<string>asl-app-718bf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:728702301823:ios:682abd74070ca41875714a</string>
</dict>
</plist>